{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flexjustify-content-center">
    <div class="container d-flex bg-light mb-5 flex-column">
        <div class="justify-content-center mt-3 mb-5 mx-2 text-center">
            <img src='{{ book.thumbnail }}' class="img-thumbnail" loading="lazy" style="height: 500px;">
        </div>

        <div class="mx-2">
            <div class="container">
                <h1>{{ book.title }}</h1>
                <h5 class="text-muted">{{ book.subtitle }}</h5>
                <h6><i class="bi bi-star-fill"></i> {{ book.average_rating }} | {{ book.ratings_count }} ratings</h6>
                <br>
                <h1>Rp{{ price }}</h4>
            </div>

            <br>
            
            <div class="container d-grid gap-2">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'BookShop:add_books_to_cart' book.id %}" role="button">Add to Cart</a>
                <button class="btn btn-primary" role="button">Add to Wishlist</button>
                {% endif %} 
                <a class="btn btn-primary" href="{% url 'book-talk:book_list' book.id %}" role="button">Reviews</a>
            </div>
            
            <br>

            <div class="container">
                <h4>Description</h4>
                <p> {{ book.description }}</p>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <h4>Details</h4>
                </div>
                <div class="row">
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">Author</a>
                            <br>
                            {{ book.author }}
                        </p>
                    </div>
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">Category</a>
                            <br>
                            {{ book.category }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">Published Year</a>
                            <br>
                            {{ book.published_year }}
                        </p>
                    </div>
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">ISBN</a>
                            <br>
                            {{ book.isbn }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">Average Rating</a>
                            <br>
                            {{ book.average_rating}} ({{ book.ratings_count }} ratings)
                        </p>
                    </div>
                    <div class="col lh-2">
                        <p >
                            <a class="text-decoration-none text-muted">Page Count</a>
                            <br>
                            {{ book.num_pages }}
                        </p>
                    </div>
                </div>
            </div>    
        </div>
        </div>
</div>

{% endblock content %}