{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid d-flex">
    <div class="container w-25 d-none d-lg-flex flex-column">
        <h4>Filter</h4>
        <div class="container py-2 border rounded shadow-sm" id="filterContainer">
            
        </div>
    </div>

    <div class="container-fluid">
        <form>
            <input class="form-control mb-2" type="text" placeholder="Search Books and Authors" aria-label="Search" id="search" oninput=searchBook()>
        </form>

        <div class="text-center d-grid d-lg-none">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas">
                Filter
            </button>
        </div>

        <div id="book_cards" class="container-fluid my-3">

        </div>
        <nav>
            <ul class="pagination justify-content-center" id="page">
                
            </ul>
        </nav>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="filterOffcanvas" aria-labelledby="filterOffcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="filterOffcanvasLabelLabel">Filter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="offcanvasRating">
            
        </div>
    </div>

    <div class="modal fade" id="bookRequestModal" tabindex="-1" aria-labelledby="bookRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bookRequestModalLabel">Request New Book</h1>
                    <button type="button" class="btn ms-auto" data-bs-target="#myBookRequestModal" data-bs-toggle="modal" onclick=refreshBookRequest()>View My Book Requests</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="request-form" onsubmit="return false" class="row">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="title" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required></input>
                        </div>
                        <div class="form-group mb-3">
                            <label for="author" class="col-form-label">Author:</label>
                            <input type="text" class="form-control" id="author" name="author" required></input>
                        </div>
                        <div class="form-group mb-3">
                            <label for="category" class="col-form-label">Category:</label>
                            <select class="form-select" id="category" name="category" required>
                                <option disabled selected hidden>Choose Category...</option>
                                <option value="Adventure stories">Adventure Stories</option>
                                <option value="Art">Art</option>
                                <option value="Comics & Graphics Novels">Comics & Graphics Novels</option>
                                <option value="Detective and mystery stories">Detective and Mystery Stories</option>
                                <option value="Drama">Drama</option>
                                <option value="Fantasy fiction">Fantasy Fiction</option>
                                <option value="History">History</option>
                                <option value="Juvenile fiction">Juvenile Fiction</option>
                                <option value="Science fiction">Science Fiction</option>
                              </select>
                        </div>
                        <div class="form-group mb-3 d-none">
                            <input type="hidden" class="form-control" id="status" name="status" value="REQ" required></input>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="button_request" onclick="requestBook()">Request New Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myBookRequestModal" tabindex="-1" aria-labelledby="bookRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="myBookRequestModalLabel">My Book Requests</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="myBookRequestModalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-bs-target="#bookRequestModal" data-bs-toggle="modal">Back to Request Book</button>
                </div>
            </div>
        </div>
    </div>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="loginToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <i class="bi bi-exclamation-triangle"></i>
            <strong class="me-auto">&nbsp;LiteraTour</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            You must login to submit a book request!
          </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="formValidationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <i class="bi bi-exclamation-triangle"></i>
            <strong class="me-auto">&nbsp;LiteraTour</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            You submitted an Invalid Form!
          </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <i class="bi bi-check-square"></i>
            <strong class="me-auto">&nbsp;LiteraTour</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            You have successfully requested a book!
          </div>
        </div>
    </div>

    <div class="container-fluid container-request-button d-flex justify-content-center align-items-center p-0" id="reqButtonDiv">
        <button type="button" class="request-button btn btn-primary container-fluid rounded-pill h-100"
             data-bs-toggle="modal" data-bs-target="#bookRequestModal" id="reqButton">
            <h3 class="container-fluid text-center m-0"><i class="bi bi-plus"></i></h3>
        </button>
    </div>
</div>
<link rel="stylesheet" type="text/css" href='{% static "/css/bookfinds.css" %}'/>
<script type="text/javascript" src='{% static "/js/bookfinds.js" %}'></script>

{% endblock content %}