{% extends 'base.html' %} 

{% load static %}

{% block content %}
<div>
    <div class="text-center" style="padding-left: 20px; padding-right: 20px;">
        <h1>Book Club 🫂</h1>
        <h5>Discover your perfect reading companion!</h5>
        <hr>

        <div class="row">
            <div id="club_card">
        </div>
        
        <br>
        
        <div class="text-center mt-3">
            <p>Haven't found the perfect reading buddy? Create one that matches you!</p>
            <button class="btn btn-style-2" id="createClubButton" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createClubModal">
                Create New Club
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="createClubModal" tabindex="-1" aria-labelledby="createClubModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color: black;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;" id="createClubModalLabel">Create New Club</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="form" onsubmit="return false">                            
                    {% csrf_token %}
                    <div class="mb-3" style="font-size: medium;">
                        <label for="name" class="col-form-label">Club Name</label>
                        <input type="text" class="form-control" id="name" name="name" required></input>
                    </div>
                    
                    <div class="mb-3" style="font-size: medium;">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    
                    <div class="mb-3" style="font-size: medium;">
                        <label for="recommended_books" class="col-form-label">Recommended Books</label>
                        <select id="recommended_books" class="form-control" name="recommended_books" multiple required>
                        </select>
                    </div>
                    
                    <div class="mb-3" style="font-size: medium;">
                        <label for="bubble" class="col-form-label">Your First Bubble</label>
                        <input type="text" class="form-control" id="bubble" name="bubble" required></input>
                    </div>

                    <div class="modal-footer" style="justify-content: center;">
                        <button onclick="createClub()" class="btn btn-outline-success" data-bs-dismiss="modal">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src='{% static "/js/main.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "/css/bookclub.css" %}'>

{% endblock content %}