.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.text-truncate-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.container-request-button {
    position: fixed;
    width: 75px;
    height: 75px;
    bottom: 0;
    right: 0;
    margin: 35px;
    cursor: pointer;
}