{% extends 'base.html' %}

{% block content %}
    <h1>Page</h1>
    <p>{{name}}</p>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="my_Book" class="col-form-label">my_Book:</label>
                            <input type="text" class="form-control" id="my_Book" name="my_Book"></input>
                        </div>
                        <div class="mb-3">
                            <label for="progress" class="col-form-label">progress:</label>
                            <input type="number" class="form-control" id="progress" name="progress"></input>
                        </div>
                        <div class="mb-3">
                            <label for="quote" class="col-form-label">quote:</label>
                            <textarea class="form-control" id="quote" name="quote"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

<table id="product_table">
    <tr>
        <th>my_Book</th>
        <th>progress</th>
        <th>quote</th>
    </tr>

    {% for product in products %}
        <tr>
            <td>{{product.my_Book}}</td>
            <td>{{product.progress}}</td>
            <td>{{product.quote}}
                <a href="{% url 'myLibrary:edit_product' product.pk %}">
                    <button>Track Progress</button>
                </a>
                <a href="{% url 'myLibrary:reset_product' product.pk %}">
                    <button>Reset Progress</button>
                </a>
                <a href="{% url 'myLibrary:edit_quote' product.pk %}">
                    <button>Edit Quote</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'myLibrary:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<script>
    async function getProducts() {
        return fetch("{% url 'myLibrary:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>my_Book</th>
            <th>progress</th>
            <th>quote</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.my_Book}</td>
            <td>${item.fields.progress}</td>
            <td>${item.fields.quote}
                <a href="edit-product/${item.pk}">
                    <button>Track Progress</button>
                </a>
                <a href="reset/${item.pk}">
                    <button>Reset Progress</button>
                </a>
                <a href="edit-quote/${item.pk}">
                    <button>Edit Quote</button>
                </a>
            </td>
        </tr>` 
        })
        document.getElementById("product_table").innerHTML = htmlString
    }
    refreshProducts()
    function addProduct() {
        fetch("{% url 'myLibrary:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
</script>

{% endblock content %}